<section id="meeting-nav" class="meeting-nav">
    <div class="container col-lg-12 col-md-6 row">
        <div class="btn-padding">
            <a>
                Monday
            </a>
        </div>

        <div class="btn-padding">
            <a>
                Tuesday
            </a>
        </div>

        <div class="btn-padding">
            <a>
                Wednesday
            </a>
        </div >

        <div class="btn-padding">
            <a>
                Thursday 
            </a>
        </div>

        <div class="btn-padding">
            <a>
                Friday
            </a>
        </div>

        <div class="btn-padding">
            <a>
                Saturday
            </a>
        </div>
        <div class="btn-padding">
            <a href="day?d=Sunday">
                Sunday
            </a>
        </div>
        
    </div>
</section> 