<section id="meeting-nav" class="meeting-nav">
    <div class="container col-lg-12 col-md-6 row">
        <div class="btn-padding">
            <a href="day?d=Monday" class = "meeting-trigger">
                Monday
            </a>
        </div>

        <div class="btn-padding">
            <a href="day?d=Tuesday" class = "meeting-trigger">
                Tuesday
            </a>
        </div>

        <div class="btn-padding">
            <a href="day?d=Wednesday" class = "meeting-trigger">
                Wednesday
            </a>
        </div >

        <div class="btn-padding">
            <a href="day?d=Thursday" class = "meeting-trigger">
                Thursday 
            </a>
        </div>

        <div class="btn-padding">
            <a href="day?d=Friday" class = "meeting-trigger">
                Friday
            </a>
        </div>

        <div class="btn-padding">
            <a href="day?d=Saturday" class = "meeting-trigger">
                Saturday
            </a>
        </div>
        <div class="btn-padding">
            <a href="day?d=Sunday" class = "meeting-trigger">
                Sunday
            </a>
        </div>
        
    </div>
    <div id="target"></div>
</section> 

