
    <div class="container">

        <div class="row justify-content-center">
  
          <div class="col-lg-12 col-md-6 pt-4 pt-lg-0 content">

<section id="meeting-nav" class="meeting-nav">
    <h2 class="jc2">Local Meetings</h2>

    <p>Select a day to see the meetings available through the Columbus/Phenix City Area</br> </p>

    <p> </p>
    <p style="color:orange">
    Remember to practice good social distancing, wear a mask if you have it, and follow recommended guidlines. 
    Oh, and don't forget to bring your own coffee and cookies!
    </p>

    <div class="container col-lg-12 col-md-6 row d-flex justify-content-center">
        <div class="btn-padding">
            <a href="day?d=Monday" class = "meeting-trigger a-btn-padding">
                Monday
            </a>
        </div>

        <div class="btn-padding">
            <a href="day?d=Tuesday" class = "meeting-trigger a-btn-padding">
                Tuesday
            </a>
        </div>

        <div class="btn-padding">
            <a href="day?d=Wednesday" class = "meeting-trigger a-btn-padding">
                Wednesday
            </a>
        </div >

        <div class="btn-padding">
            <a href="day?d=Thursday" class = "meeting-trigger a-btn-padding">
                Thursday 
            </a>
        </div>

        <div class="btn-padding">
            <a href="day?d=Friday" class = "meeting-trigger a-btn-padding">
                Friday
            </a>
        </div>

        <div class="btn-padding">
            <a href="day?d=Saturday" class = "meeting-trigger a-btn-padding">
                Saturday
            </a>
        </div>
        <div class="btn-padding">
            <a href="day?d=Sunday" class = "meeting-trigger a-btn-padding">
                Sunday
            </a>
        </div>
        
    </div>
    <div id="target"></div>


</section> 
<section>
    <div>
        <p style="font-weight: bold"> Printable version available here: 

            <% files.map(file => { %>
                <a href="<%= file.url %>",  style="color:orange"><%= file.name %></a>
            <% }) %>
        </p>
        </div>
</section>

          </div>
        </div>
    </div>
