<section id="meetings-online" class="page-section">
    <div class="container">

      <div class="row justify-content-center">

        <div class="col-lg-12 col-md-6 pt-4 pt-lg-0 content">
          <h2 class="jc2">Local Online Meetings</h2>
          <p>
            Local Online Meetings are currently available. The meeting times change and new meetings are added throughout 
            the week. Please continue to check back periodically for updates. 
          </br> There are two ways to access the meetings, phone or by webex.
          <ol type="1">
            <li>Online participants - Meeting Code: 624 354 768 --- Password: AA-Meeting </li>
            <li>Phone participants - Call 1-408-418-9388 --- Access Code: 624 354 768 --- Passcode: 22063384</li>
          </ol>

          <a href="http://www.webex.com/downloads.html/" target="_blank">Download Webex Meetings</a>
          </p>

          <table class="table table-hover">
            <thead>
              <tr>
                <!-- <th scope="col">#</th> -->
                <th scope="col">Meeting Type</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <!-- <th scope="row">3</th> -->
                <td>Big Book Study</td>
                <td>Monday 5/18/20</td>
                <td>Noon</td>
              </tr>
              <tr>
                <!-- <th scope="row">3</th> -->
                <td>Discussion</td>
                <td>Monday 5/18/20</td>
                <td>6:30 PM</td>
              </tr>
              <tr>
                <!-- <th scope="row">3</th> -->
                <td>Big Book Study</td>
                <td>Monday 5/18/20</td>
                <td>Noon</td>
              </tr>
              <tr>
                <!-- <th scope="row">3</th> -->
                <td>Discussion</td>
                <td>Monday 5/18/20</td>
                <td>6:30 PM</td>
              </tr>
              <tr>
                <!-- <th scope="row">3</th> -->
                <td>Big Book Study</td>
                <td>Tuesday 5/19/20</td>
                <td>Noon</td>
              </tr>
              <tr>
                <!-- <th scope="row">3</th> -->
                <td>Discussion</td>
                <td>Tuesday 5/19/20</td>
                <td>6:30 PM</td>
              </tr>
              <tr>
                <!-- <th scope="row">3</th> -->
                <td>Big Book Study</td>
                <td>Wednesday 5/20/20</td>
                <td>Noon</td>
              </tr>
              <tr>
                <!-- <th scope="row">3</th> -->
                <td>Discussion</td>
                <td>Wednesday 5/20/20</td>
                <td>8:00 PM</td>
              </tr>
              <tr>
                <!-- <th scope="row">3</th> -->
                <td>Big Book Study</td>
                <td>Thursday 5/21/20</td>
                <td>Noon</td>
              </tr>
              <tr>
                <!-- <th scope="row">3</th> -->
                <td>Discussion</td>
                <td>Thursday 5/21/20</td>
                <td>6:30 PM</td>
              </tr>
            </tbody>
          </table>
          
        </div>
      </div>
      
    </div>
    
  </section>
