
<section id="meeting-nav" class="meeting-nav">
    <h2 class="jc2">Local Meetings</h2>

    <p class="p-form">Select a day to see the meetings available through the Columbus/Phenix City Area</br> </p>
    <p class="p-form-update">
    A few meetings have begun to meet in person again. As you look through the schedule, you will see them marked in red in the notes section. Remember to 
    practice good social distancing, wear a mask if you have it, and follow recommended guidlines. If you know of others meeting in person, please email us. Oh, and don't forget to bring your own coffee and cookies!
    </p>

    <div class="container col-lg-12 col-md-6 row d-flex justify-content-center">
        <div class="btn-padding">
            <a href="day?d=Monday" class = "meeting-trigger a-btn-padding">
                Monday
            </a>
        </div>

        <div class="btn-padding">
            <a href="day?d=Tuesday" class = "meeting-trigger a-btn-padding">
                Tuesday
            </a>
        </div>

        <div class="btn-padding">
            <a href="day?d=Wednesday" class = "meeting-trigger a-btn-padding">
                Wednesday
            </a>
        </div >

        <div class="btn-padding">
            <a href="day?d=Thursday" class = "meeting-trigger a-btn-padding">
                Thursday 
            </a>
        </div>

        <div class="btn-padding">
            <a href="day?d=Friday" class = "meeting-trigger a-btn-padding">
                Friday
            </a>
        </div>

        <div class="btn-padding">
            <a href="day?d=Saturday" class = "meeting-trigger a-btn-padding">
                Saturday
            </a>
        </div>
        <div class="btn-padding">
            <a href="day?d=Sunday" class = "meeting-trigger a-btn-padding">
                Sunday
            </a>
        </div>
        
    </div>
    <div id="target"></div>
</section> 
