<section id="preamble" class="page-section bg-primary">
    <div class="container">

      <div class="row">

        <div class="col-lg-8 offset-lg-2 col-md-6 pt-4 pt-lg-0 content">
          <h2 class="jc1">AA Preamble</h2>
          <p class="font-italic">
            Alcoholics Anonymous is a fellowship of men and women who
            share their experience, strength and hope with each other that
            they may solve their common problem and help others to recover
            from alcoholism.
            The only requirement for membership is a desire to stop drinking.
            There are no dues or fees for A.A. membership; we are selfsupporting through our own contributions. A.A. is not allied with
            any sect, denomination, politics, organization or institution; does
            not wish to engage in any controversy, neither endorses nor
            opposes any causes. Our primary purpose is to stay sober and
            help other alcoholics to achieve sobriety. 
           
          </p>
            <div class="copyright">
              &copy; Copyright The AA Grapevine, Inc. All Rights Reserved  -  
              <a href="www.aa.org">  www.aa.org</a>
            </div>
            
            <div class="credits">
              <!-- All the links in the footer should remain intact. -->
              <!-- You can delete the links only if you purchased the pro version. -->
              <!-- Licensing information: https://bootstrapmade.com/license/ -->
              <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/eterna-free-multipurpose-bootstrap-template/ -->
              
            </div>
            
          </p>

          
        </div>
      </div>

    </div>
  </section>