<section id="about" class="about">
  <div class="container">

    <div class="row align-center">
      <div class="col-lg-12 col-md-6 ">
        <h3 class="txt-center pd1 f-bold">About Alcoholics Anonymous and District 6</h3>
        <hr class="divider light"/>
      </div>

      

      <div class="col-lg-6">
        <img src="assets/img/chairs.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 content">
        
        
          Alcoholics Anonymous (AA) is an international group of men and women whose common purpose is to achieve sobriety from alcoholism. It is a nonprofessional, self-supporting, inclusive group. AA 
          District 6 of Georgia consists of communities in Columbus, Phenix City, and surrounding areas. District 6 maintains the traditions and principals of A.A. to provide: 
        <br><br>

        <ul>
          <li><i class="icofont-check-circled"></i> Recovery from alcoholism</li>
          <li><i class="icofont-check-circled"></i> Unity with each other</li>
          <li><i class="icofont-check-circled"></i> Performing service work to help others</li>
        </ul>
          Through meetings, sponsorship, events, service work, and celebrations, District 6 continue to encourage and support recovery, unity, and service.
          
          If you or someone you love is struggling with alcohol, we encourage you to 
          <a href="/meetings">find a meeting</a> or you can read <a href="https://www.aa.org/assets/en_US/en_bigbook_chapt3.pdf" target="_blank">more about alcoholism</a> from Alcoholics Anonymous.
          For more information about Alcoholics Anonymous please visit <a href="https://www.aa.org/" target="_blank">aa.org</a>.
          For more information about Georgia Area AA, please visit  
          <a href="https://www.aageorgia.org/" target="_blank">aageorgia.org</a>.
        
          
      </div>
    </div>

  </div>
</section><!-- End About Section -->