<!-- ======= Featured Section ======= -->
<section id="featured" class="featured">
  <div class="container">

    <div class="row">
      <div class="col-lg-4">
        <a href="/how-works">
        <div class="icon-box">
          <i class="fas fa-2x fa-question-circle"></i>
          <h3>How it Works</h3>
          <p>An overview of how AA works and the 12 Steps through the readings from the start of every meeting.</p>
        </div>
        </a>
      </div>
      <div class="col-lg-4 mt-4 mt-lg-0">
        <a href="https://www.aa.org/pages/en_US/need-help-with-a-drinking-problem" target="blank_">
          <div class="icon-box">
            <i class="fas fa-2x fa-info-circle"></i>
            <h3>More About Alcoholism</h3>
            <p>Resources and readings to help understand alcholism and work toward sobriety. </p>
          </div>
          </a>
      </div>
      
      <div class="col-lg-4 mt-4 mt-lg-0">
        <a href="/meetings">
        <div class="icon-box">
          <i class="fas fa-2x fa-calendar-alt"></i>
          <h3>Find a Meeting</h3>
          <p>List of daily meetings throughout Columbus and Phenix City.</p>
        </div>
      </a>
      </div>

    </div>
 
  </div>
</section><!-- End Featured Section -->