  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active" style="background: url(assets/img/blue-book.jpg); background-size: 100%; background-repeat: no-repeat; ">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animated fadeInDown">Welcome to <span>Alcoholics Anonymous</span></h2>
                <p class="animated fadeInUp">Alcoholics Anonymous is a fellowship of men and women who share their experience, strength and hope with each other that they may solve their common problem and help others to recover from alcoholism. </p>
                <a href="how-works" class="btn-get-started animated fadeInUp">Read More</a>
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="carousel-item " style="background: url(assets/img/coffee-pot.jpg); background-size: 100%; background-repeat: no-repeat;">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animated fadeInDown"> Find a <span>Meeting</span></h2>
                <p class="animated fadeInUp">Meetings occur daily throughout Columbus, Phenix City, and the Surronding areas. Meetings are also available onlines for those who can't meet face-to-face.</p>
                <a href="" class="btn-get-started animated fadeInUp">Read More</a>
              </div>
            </div>
          </div>

          <!-- Slide 3 -->
          <div class="carousel-item" style="background: url(assets/img/sunset.jpg); background-size: 100%; background-repeat: no-repeat;">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animated fadeInDown">Find <span>Service Opportunities</span></h2>
                <p class="animated fadeInUp">Step 12 states Having had a spiritual awakening as the result of these Steps, we tried to carry this message to alcoholics, and to practice these principles in all our affairs. Service work is one of the 3 primary parts of the AA. Read more to further understand service work and see service opportunities in the area.</p>
                <a href="" class="btn-get-started animated fadeInUp">Read More</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon icofont-rounded-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon icofont-rounded-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>


    
  </section><!-- End Hero -->