  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active" style="background: url(assets/img/blue-book.jpg); background-size: 100%; background-repeat: no-repeat; ">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animated fadeInDown">Welcome to <span>Alcoholics Anonymous</span></h2>
                <p class="animated fadeInUp">Alcoholics Anonymous is a fellowship of men and women who share their experience, strength and hope with each other that they may solve their common problem and help others to recover from alcoholism. </p>
                <a href="how-works" class="btn-get-started animated fadeInUp">Read More</a>
              </div>
            </div>
          </div>



          <!-- Slide 2 -->
          <div class="carousel-item" style="background: url(assets/img/sunset.jpg); background-size: 100%; background-repeat: no-repeat;">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animated fadeInDown">Join us at <span>District</span></h2>
                <p class="animated fadeInUp">The monthly District 6 meeting is held the second Sunday of each month</p>
                <hr class="jc-hr">
                <p class="animated fadeInUp" style="font-weight: bold;">Next meeting: July 11 @ 11:30am at the Agape Center</p>
                <p class="animated fadeInUp">214 8th St, Columbus, GA 31901</p>
              </div>
            </div>
          </div>

          <!-- Slide 3 -->
          <div class="carousel-item " style="background: url(assets/img/coffee-pot.jpg); background-size: 100%; background-repeat: no-repeat;">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animated fadeInDown"> Find a <span>Meeting</span></h2>
                <p class="animated fadeInUp">Meetings occur daily throughout Columbus, Phenix City, and the surrounding areas. Meetings are also available online for those who can't meet face-to-face.</p>
                <a href="/meetings" class="btn-get-started animated fadeInUp">Read More</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon icofont-rounded-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon icofont-rounded-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>


    
  </section><!-- End Hero -->