  <!-- ======= Header ======= -->
  <header id="header" class="header-h-stick">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="index"><span>Alcoholics Anonymous</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="index">Home</a></li>

          <li class="drop-down"><a href="#">About</a>
            <ul>
              <li><a class="js-scroll-trigger" href="#about">About District 6</a></li>
              <li><a href="how-works">How it Works</a></li>
              <li><a class="js-scroll-trigger" href="#footer">Contact</a></li>
            </ul>
          </li>

          <li class="drop-down"><a href="#">Resources</a>
            <ul>
              <li><a class="js-scroll-trigger" href="https://www.aa.org/pages/en_US/daily-reflection" target="_blank">Daily Reflection</a></li>
              
              <li class="drop-down"><a href="#">Literature</a>
                <ul>
                  <li><a href="https://www.aa.org/pages/en_US/alcoholics-anonymous" target="_blank">The Big Book</a></li>
                  <li><a href="https://www.aa.org/pages/en_US/twelve-steps-and-twelve-traditions" target="_blank">12 Steps and 12 Traditions </a></li>
                </ul>
              </li>
              
              
              
              
            </ul>
          </li>

          <li><a href="">Service Opportunites</a></li>
          <li><a href="/meetings">Meetings</a></li>


        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->