<section id="services" class="services bg-gray">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h3 class="pd-2 t-dark f-bold">Resources</h3>
        <hr class="divider light"/>
      </div>

      

      <div class="row">
        
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <a href="https://www.thetokenshop.com/Online_AA_Meetings" target="_blank">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-world"></i></div>
                    <h4><a href="meetings/meetings-main">Online Meetings</a></h4>
                    <p>External link to Token Shop list of online A.A. meetings</p>
                </div>
            </a>
        </div>
       

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
        <a href="https://www.aa.org/pages/en_US/daily-reflection" target="_blank">
          <div class="icon-box"> 
            
            <div class="icon">
                
            <i class="bx bx-file"></i></div>
            <h4><a>Daily Reflection</a></h4>
            <p>Link to the Daily Reflection. Written by alcoholics for alcoholics. </p>
          </div> 
        </a>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <a href="https://www.aa.org/pages/en_US/read-the-big-book-and-twelve-steps-and-twelve-traditions">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-book"></i></div>
                    <h4><a>Literature</a></h4>
                    <p>Link to read the A.A. Big Book and Twelve Steps and Twelve Traditions</p>
                </div>
            </a>
        </div>
<!-- 
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4><a href="">Nemo Enim</a></h4>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-slideshow"></i></div>
            <h4><a href="">Dele cardo</a></h4>
            <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-arch"></i></div>
            <h4><a href="">Divera don</a></h4>
            <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
          </div>
        </div> -->

      </div>

    </div>
  </section><!-- End Services Section -->